:root {
    --gray-color: rgba(102, 101, 101, 0.863);
    --spacegray-color: rgba(211, 208, 208, 0.932);
    --bg-body: #283618;
    --orange-color: #BC6C25;
    --orangeWhite-color: #dda15e;
    --olive-color: #606c38;
    --crem-color: #f8f7ee;
    --white-color: rgb(248, 244, 244);
    --black-color: hsla(0, 0%, 0%, 0.12);

    --font-one: 'Kanit', sans-serif;
    --font-two: 'Montserrat', sans-serif;    

    --fs-01: 18px;
    --fs-02: 14px;
    --fs-03: 12px;

    --fw-01: 500;

    --shadow-1: 0 12px 20px 0 rgba(46, 40, 40, 0.555);
    --shadow-2: 0 2px 10px 0 rgba(10, 10, 9, 0.39);
    --shadow-3: 0 5px 5px 0 rgba(59, 54, 54, 0.425);

}

body, html {
    background: var(--bg-body);
    
}

* {
  padding: 0px;
  margin: 2px;  
}

.wrapper {
    background-image: url("./assets/img/background01.jpg");
    background-repeat: repeat;
    padding: 40px 40px 40px 40px;
    height: 100%;
    border-radius: 20px;
}

.cab-section {
    display: flex;
    flex-direction: row;
    background: var(--bg-body);
    position: relative;
    width: 100%; 
    height: auto;
    border-radius: 20px;
    box-shadow: var(--shadow-3)
}

.img-cv {
    width: auto;
}

.img-cv img {
    margin: -10px 20px;
    width: 160px;
    border-radius: 20px;
}

.name-section {
    display: grid;
    padding-top: 1rem;
    font-family: var(--font-one);
    color: var(--crem-color);
    font-size: var(--fs-01);
    width: 100%;
}

.prof-section {
    font-family: var(--font-two);
    font-size: var(--fs-02);
    color: var(--orange-color);
}

.data-section {
    width: 100%;
    display: flex;
    margin-top: 20px;
    background: var(--spacegray-color);
    border-radius: 20px;
    box-shadow: var(--shadow-3);
    height: 85%;
}

.info-col1 {
    width: 40%;
}

.info-col2 {
    width: 60%;
}

.card-info {
    display: flex;
    flex-direction: column;
    background: var(--crem-color);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow-1);
}

.details p {
    display: flex;
    padding: 0;
    font-family: var(--font-two);
}

.details li {
    display: flex;
    list-style: none;
    font-family: var(--font-two);
}

.details-items {
    width: 50%;
}

.details-stars {
    color: var(--orange-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.details-title span {
    display: inline;
    width: 100%;
    color: var(--orange-color);
    font-family: var(--font-one);
    font-size: var(--fs-02);
    border-radius: 5px;
}

.info-details p {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.divider {
    height: 1px;
    background: var(--bg, var(--black-color));
    margin-block: var(--mb, 8px);
}

.card_divider {
    --bg: var(var(--black-color);
    --mb: 25px;
    )    
}

.cab-icon {
    color: var(--gray-color);
    font-size: 25px;
}

.details-icon {
    color: var(--bg-body);
    font-size: 25px;
}

.details-donuts {
    display: flex;
    flex-direction: row;
}

.job-position {
    font-family: var(--font-one);
    color: var(--orange-color);
    font-size: var(--fs-03);
    font-weight: var(--fw-01);
}

.details-contact {
    display: flex;
    flex-direction: column;

}
/**
* Donut Average
*/

.svg-item {
    width: 150px;
    height: 150px;
    font-size: 14px;
  }
  .donut-ring {
    stroke: #EBEBEB;
  }
  
  .donut-segment {
    animation: donut-chart-fill 1s reverse ease-in;
    transform-origin: center;
    stroke: var(--olive-color);
  }
  
  .donut-text {
    font-family: var(--font-two);
    fill: var(--olive-color);
    padding-left: 5px;
  }
  
  .donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: var(--olive-color);
    transform: translateY(0.25em);    
  }
  
  .donut-percent {
    font-size: 0.5em;
    fill: var(--orange-color);
    line-height: 1;
    transform: translateY(0.5em);
  }
